@font-face{
	font-family: 'rye';
	src: url('../fonts/rye.ttf');
}

@font-face{
	font-family: 'cooperbold';
	src: url('../fonts/cooper/cooperbold.otf');
}

@font-face{
	font-family: 'cooper';
	src: url('../fonts/cooper/cooper.otf');
}
html, body{
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	scroll-behavior: smooth;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}
/*DISPLAY NONE*/
	.dropdownmenucontainer,
	.mdropdown,
	#mobileheader,
	.mobilestory,
	.cateringform,
	.deliverymobileicon,
	.mcontact,
	.mcatering,
	.msubmenu,
	.mdelivery,
	.minfo{
		display: none;
	}
/*HEADER*/
	.header{
		background-color: #000;
		position: fixed;
		font-family: 'rye';
		width: 100%;
		z-index: 2;
	}

	.header ul{
		margin: 0;
		padding: 0;
	}

	.headercontainer{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 95%;
		}
		/*HEADER LEFT*/
		.headerleft{
			width: 55%;
		}
		.headerleft ul{
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
		.header img{
			height: 53.6px;
			padding: 5px 0;
			width: 80px;
		}
		.header a{
			color: #fff;
			font-size: 1.1em;
		}
		/*HEADER RIGHT*/
		.headerright{
			display: flex;
			justify-content: flex-end;
			margin-right: 0;
			width: 20%;
		}
		.headerright ul{
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
		.header i{
			color: rgba(86,168,143,1); 
			font-size: 35px;
			padding-left: 30px;
		}

	/*DELIVERY DROPDOWN*/
	.dropdownmenu{
		margin-left: 53%;
	}
	.dropdownmenucontainer{
		position: fixed;			
		width: 28.5%;
		z-index: 2;
	}

	.dropdownbox{
		align-items: center;
		display: flex;	
		justify-content: flex-end;
	}

	.dropdownmenu img{
		display: block;
		max-width: 60px;
		padding: 2px 0 2px 20px;
	}

/*JUMBOTRON*/
	.jumbotron{
		background: url("../media/images/painting-main-background.png") no-repeat;
		background-size: cover;
	}
	.jumbocontainer{
		background-color: #000;
		opacity: .8;
		width: 100%;
	}

	.jumbologo{
		width: 100%;
		max-width: 500px;
		padding: 90px 0 70px 0;
		margin:0 auto;
	}

	.jumbologo img{
		width:100%;
		display: block;
	}
/*ABOUT US*/

	/*ABOUT US BACKGROUND IMAGES*/
	.familycarousel{
		width: 100%;
	}
	.familycarousel img{
		display: block;
		max-width: 509px;
	}
	/*ABOUT US INFO*/
		.aboutuscontainer{
			background-color: rgba(86,168,143,.9);
			display: flex;
			height: 550px;
			margin: 0 auto 0 auto;
			padding: 25px 0 25px 0;
			position: absolute;
			width: 100%;
			z-index: 1;

		}
		.aboutusinfo{
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			width: 95%;
		}
		.ourstoryinfo{
			align-items: center;
			border: 8px dotted #fff;
			justify-content: space-around;
			display: flex;
			flex-direction: column;
		}
		.ourstoryinfo h1{
			color: #fff;
			font-family: 'rye';
			font-size: 36px;
			margin: 0;
			width: 80%;
		}
		.ourstoryinfo p{
			color: #fff;
			font-family: 'cooper';
			margin: 0;
			padding: 0;
			width: 80%;
		}
		.story p,
		.story h1{
			margin: 0 auto;
		}

		.story h1{
			padding-bottom: 10px;
		}

	/*OUR STORY INFO*/
		.ourstoryimages{
			text-align: center;
			width: 50%;
		}
		.ourstoryimages img{
			max-width: 350px;
		}
/*INSTAFEED*/
	.insta{
		align-items: center;
		position: relative;
		display: flex;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	.instagram{
		background-image: url("../media/images/painting4dark.png");
		background-position: top center;
		padding: 0;
		position: relative;
		margin: 0;
		width: 75%;
	}
		#instafeed{
			align-items: center;
			display: flex;
			justify-content: space-between;
			overflow-y: hidden;
			padding: 40px 0;
			width: 100%;
		}

		#instafeed img{
			box-shadow: 5px 5px 5px #000;
			display: block;
			max-height: 300px;
			max-width: 300px;
			margin: 0 20px;
			transition: ease-in-out;
			transition-duration: .5s;
			scrollbar-color: dark;
		}

		#instafeed img:hover{
			box-shadow: 15px 15px 2px 1px #DDB237;
				transform: translateY(-10px);
		}

		/*VISIT OUR INSTAGRAM*/
		.instabox{
			align-items: center;
			bottom: 0;
			display: flex;
			font-family: 'cooperbold';
			height: 100%;
			overflow-x: hidden;
			position: absolute;
			right: 0;
			top: 0;
			width: 25%;
		}

		.instaboxcontainer{
			align-items: center;
			background-image: linear-gradient(to bottom right, #000 50%, #56A88F);
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			opacity: 0.9;
			overflow-x: hidden;		
			text-align: center;
			width: 100%;
		}

		.instaboxcontainer img{
			width: 200px;
		}

		.instaboxcontainer h2{
			margin: 0;
		}
		.instabox a{
			color: #fff;
		}
/*HOURS, LOCATION, and CONTACT*/
	.info{
		background-image: url("../media/images/painting2-dark.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
	}

	.info h2{
		font-family: 'rye';
		font-size: 28px;
		margin: 0;
		padding-bottom: 10px;
	}

	.info p{
		font-family: 'cooper';
		line-height: 1.8;
		margin: 0 auto;
		width: 60%;
	}

	.info a{
		color: #fff;
	}
	.infocontainer{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 40px 0 10px 0;
		text-align: center;
		width: 90%;
	}
	/*NUMBERS*/
		.numbers, .contact{
			width: 50%;
		}

		.numbers{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 100px;
		}

		.hours{
			padding-top: 20px;
		}

		#locationbottom{
			border-bottom: 8px dotted #fff;
			padding-bottom: 20px;
		}

		#locationbottom a{
			transition: .5s ease-in-out;
		}

		#locationbottom a:hover{
			color: #ddb237;
		}
/*CONTACT FORM*/
	.contactnames{
		color: #fff;
		font-family: 'cooper';
	}
	.contactform{
		width: 50%;
	}
	.titles2{
		display: flex;
		font-family: 'cooper';
		justify-content: space-around;
		margin: 0 auto 15px auto;
		text-align: center;
		width: 90%;
	}
	.titles2 h3{
		margin: 0;
	}
	#contacttoggle{
		border-bottom: 5px solid rgba(221, 178, 55);
		padding-bottom: 2px;
	}
	.contacttitle:hover,
	.cateringtitle:hover{
		cursor: pointer;
	}
	.contactform h2{
		text-align: center;
	}
	#contactspanish{
		font-size: 36px;
		padding: 0;
	}
	#contactenglish{
		font-size: 24px;
		padding-bottom: 10px;
		text-align: center;
		width: 100%;
	}
	.contactformcontainer{
		margin: 0 auto;
		text-align: left;
	}

	#contactsubmit{
		background-color: #000;
		border: 2px solid rgba(128, 128, 128, 0.7);
		margin: 0 auto;
		padding-left: 0;
		transition: .5s ease-in-out;
		width: 150px;
	}
	#contactsubmit:hover{
		background-color: rgba(221, 178, 55);
		border: 2px solid rgba(221, 178, 55);
		color: #fff;
		cursor: pointer;
	}
/*CATERING FORM*/
	.cateringform{
		text-align: center;
		width: 50%;
	}
	.cateringnames,
	.contactnames{
		display: flex;
		justify-content: space-between;
	}
	.cateringnamesbox,
	.contactnamesbox{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.cateringenglish p,
	.contactenglish p{
		padding-bottom: 0;
	}
	.cateringnamesbox p,
	.contactnamesbox p{
		margin-top: 10px;
		text-align: left;
		width: 90%;
	}
	.inputs{
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.inputs input{
		width: 90%;
	}
	.cateringnames input,
	.cateringnames textarea,
	.contactnames input,
	.contactnames textarea{
		background-color: rgba(86, 168, 143, 0.2);
		color: #fff;
		font-family: 'cooper';
		font-size: 1.2rem;
		margin-top: 2px;
		padding: 5px 0 0 10px;
	}
	#datevalue{
		background-color: rgba(0,0,0,0.4);
	}
	#messagearea textarea{
		width: 95%;
	}
	#messagearea p{
		width: 95%;
	}
	#cateringsubmit{
		justify-content: center;
		margin: 20px 0 0 0;
		width: 100%;
	}
	#cateringsubmit button{
		background-color: rgba(86, 168, 143, 0.2);
		margin: 0 30px 0 25px;
		padding: 0;
		transition: .5s ease-in-out;
	}
	#cateringsubmit input{
		background-color: rgba(86, 168, 143, 0);
		border: 0;
		padding: 5px 20px;
	}
	#cateringsubmit button:hover{
		background-color: rgba(221, 178, 55);
		color: #fff;
		cursor: pointer;
	}
/*FOOTER*/
	.footer{
		background-color: #000;
		color: #fff;
		font-family: 'cooper';
	}

	.footer img{
		height: 5%;
		width: 5%;
	}

	.footer a{
		color: #fff;
	}

	.footercontainer{
		display: flex;
		justify-content: space-around;
		padding: 20px 0;
	}

/*media query rules for nav*/
	@media(max-width:860px){
		.header img{
			height: 33px;
			width:50px;
		}
		.header a {
			font-size: 0.75em;
		}

		.header i{
			font-size:20px;
		}
	}

	@media(max-width:640px){

		body{
			padding-top:105px;
		}

		.headercontainer,
		.headerleft,
		.headerright{
			display: block;
		}

		.headerleft{
			margin:0 auto;
		}

		.headerleft ul,
		.headerright ul{
			justify-content: center;
		}

		.headerright{
			position: absolute;
			top:0;
			right:0;
		}
		
		.headerright a{
			padding:5px 5px;
		}

		.headerleft img{
			
			
			width:80%;
			
		}
	}

/***MOBILE PORTRAIT***/
@media only screen and (max-device-width : 736px) and (orientation: portrait) {
	#mobileheader,
	.mobilestory{
		display: block;
	}

	.headerleft li, 
	.headerleft img, 
	.ourstoryinfo, 
	.info,
	.mdropdown, .contactform h2{
		display: none;
	}
	.headerleft{
		display: flex;
	}
	.headerleft i{
		align-items: center;
		font-size: 85px;
		padding: 25px 0;
	}


	.headerright i{
			font-size: 85px;
			padding: 10px 0 10px 30px;
		}
		/*MOBILE DROPDOWN*/
		.mcontainer{
			background-color: #000;
			border: 8px solid rgb(86,168,143);
			box-shadow: 20px 30px 20px #000;
			display: flex;
			font-size: 45px;
			left: 0;
			padding: 20px 0 20px 20px;
			position: absolute;
			top: 135px;
			width: 50%;
		}
		.mlist i{
			padding-left: 10px;
		}
		.halfwidth{
			width: 50%;
		}
		.fullwidth{
			width: 96.3%;
		}
		.mcontainer li{
			font-size: 60px;
			margin: 30px 0;
		}
		.msubmenu a{
			font-size: 50px;
			margin-left: 20px;
		}
		/*MOBILE DELIVERY*/
			.mdelivery{
				width: 100%;
			}
			.mdeliverycontainer{
				display: flex;
				width: 100%;
			}
			.mdelivery img{
				display: block;	
				height: 190px;
				padding: 10px;
				width: 190px;
			}
		/*MOBILE HOURS*/
			.mlocation,
			.mhours{
				color: #fff;
			}
			.mlocation p,
			.mhours p{
				font-family: 'cooper';
				margin: 0;
			}
			.minfo{
				width: 100%;
			}
			.minfocontainer{
				margin: 0 auto;
				text-align: center;
				width: 85%;
			}
			.mlocation{
				margin: 40px 0;
			}
			.mlocation i{
				padding: 0;
			}
			.mlocation p{
				font-size: 48px;
			}
			#mlocationbottom{
				font-size: 36px;
				margin: 30px 0;
			}
			.mhours{
				font-size: 50px;
			}
		/*MOBILE CONTACT*/
			.mcontact,
			.mcatering{
				right: 0;
				width: 50%;
			}
			.mcontactcontainer,
			.mcateringcontainer{
				align-items: center;
				color: #fff;
				display: flex;
				justify-content: flex-end;
				font-family: 'cooper';
				width: 100%;
			}
			.mcontactnames,
			.mcateringnames{
				text-align: center;
			}
			.mcateringnames p{
				font-size: 38px;
				margin: 0;
			}
			.mcontact p,
			.mcarering p{
				margin: 0;
			}
			.minputs,
			.minputs input,
			.minputs textarea,
			.mcateringnames textarea{
				font-size: 36px;
				margin: 0 auto 10px 0;
				padding: 2px 0 2px 2px;
				width: 100%;
			}
			.mwipe input{
				margin-bottom: 0;
			} 
			#mcateringsubmit{
				justify-content: center;
				margin: 20px 0 0 0;
				width: 100%;
			}
			#mcateringsubmit button{
				background-color: rgba(86, 168, 143, 0.2);
				margin: 0 30px 0 25px;
				padding: 0;
				transition: .5s ease-in-out;
			}
			#mcateringsubmit input{
				background-color: rgba(86, 168, 143, 0);
				border: 0;
				color: #fff;
				font-size: 40px;
				padding: 5px 20px;
			}
	/*JUMBOTRON*/
	.jumbologo{
		max-width: 600px;
		padding-top: 170px;
	}
	.jumbologo img{

	}
	/*ABOUT US*/
	.aboutuscontainer{
		height: 775px;
	}
	.family img{
		min-width: 700px;
	}
	.ourstoryimages{
		width: 100%;
	}
	.ourstoryimages img{
		min-width: 500px;
	}
	.mobilestory{
		background-image: url("../media/images/painting3dark.png");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 20px 0;
		text-align: center;
	}

	.mobilestorycontainer{
		border: 8px dotted #fff;
		padding: 20px 0;
		margin: 0 20px;
	}

	.mobilestory h1{
		color: #fff;
		font-family: 'rye';
		font-size: 100px;
		margin: 0;
		padding-bottom: 30px;
	}
	.mobilestory p{
		color: #fff;
		font-family: 'cooper';
		font-size: 60px;
		margin: 0 auto;
		width: 90%;
	}
	

/*INSTAGRAM*/
	.instabox{
		width: 40%;
	}
	.instaboxcontainer img{
			width: 350px;
		}

	.instaboxcontainer h2{
		font-size: 2.5rem;
		margin: 0;
	}
	.instabox a{
		color: #fff;
	}